<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>DBFS - 8nums</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" type="text/css" href="./css/base.css">
	<link rel="stylesheet" type="text/css" href="./css/index_pcpage.css">
	<script type="text/javascript" src="./js/jquery/jquery-1.8.2.min.js"></script>
	<script type="text/javascript" src="./js/angular/angular.js"></script>
	<script type="text/javascript" src="./js/main.js" ></script>
</head>
<body class="zh_CN">
	<div id="wrap" ng-controller="mainPanel">
		<header class="header">
		8 numbers - demo
		</header>
		<div class="content clearfix">
			<div class="square-show">
				<section class="grid-container">
					<span class="grid" ng-repeat="g in ['',1,2,3,4,5,6,7,8]" ng-style="{'transform': 'translate('+filter.getWidth($index)*125+'px,'+filter.getHeight($index)*125+'px)'}"></span>
				</section>
				<section class="title-container">
					<span class="element" ng-repeat="ele in ['',1,2,3,4,5,6,7,8]" ng-style="{'transform': 'translate('+filter.getWidth(showPosition[$index])*125+'px,'+filter.getHeight(showPosition[$index])*125+'px)'}">{{ele}}</span>
				</section>
				<section class="message" ng-show="showMessage" ng-class="{'css3': animateMessage}">
					<p>{{hasSolution?'Completed !':'Sorry ...'}}</p>
					<div class="button-container">
						<div class="button" ng-click="event.reset()">reset</div>
					</div>
				</section>

			</div>
			<section class="step-list">
				<span class="step-total">steps: {{result.path.length || "Can\'t Reach"}}</span>
				<ul >
					<li ng-repeat="p in result.path" ng-mouseover="$parent.event.pathView($event, $index)" ng-mouseleave="$parent.event.pathResume($event, $index)" ng-class="{'current': $index === $parent.sourceIndex}" ng-click="$parent.event.pathSelect($event, $index)"><dt>{{$index+1}}.</dt><dd>{{p}}&nbsp;&nbsp;{{event.calcDir(result.path, $index)}}</dd></li>
				</ul>
			</section>
			<div class="toolbar">
				<section class="tool-controller">
					<span class="tool-button" ng-click="event.random()" >random</span>
		<!-- 			<div class="tool-button" ng-click="event.solve()" >solve</div> -->
					<span class="tool-button" ng-click="event.reset()" >reset</span>
					<span class="tool-button" ng-click="event.auto()" >auto</span>
					<span class="tool-button" ng-click="event.next()" >next</span>
				</section>
				<section class="step-status">
					<span class="hasSolution" ng-class="{'success': hasSolution, 'fail': !hasSolution}">{{hasSolution?'has Solution':"hasn\'t Solution"}}
					<section class="left-source">
						<div class="element" ng-repeat="ele in ['',1,2,3,4,5,6,7,8]" ng-style="{'transform': 'translate('+filter.getWidth(sourcePosition[$index])*40+'px,'+filter.getHeight(sourcePosition[$index])*40+'px)'}">{{ele}}</div>
					</section>
					<section class="right-target">
						<div class="element" ng-repeat="ele in ['',1,2,3,4,5,6,7,8]" ng-style="{'transform': 'translate('+filter.getWidth(targetPosition[$index])*40+'px,'+filter.getHeight(targetPosition[$index])*40+'px)'}">{{ele}}</div>
					</section>
					</span>
				</section>
			</div>
		</div>
		{{result}}

	</div>
	<footer class="footer">
		copy-right
	</footer>
<script>
angular.bootstrap(document, ['eightNumsApp']);
</script>
</body>
</html>