html {
	-ms-text-size-adjust:100%;
	-webkit-text-size-adjust:100%
}
body {
	line-height:1.6;
	font-family:"Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma;
	color:#222;
	font-size:14px
}
input,textarea,button,a {
	outline:0
}
body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,fieldset,textarea {
	margin:0
}
fieldset,legend,textarea,input {
	padding:0
}
textarea,input {
	color:#666
}
textarea::-webkit-input-placeholder,input::-webkit-input-placeholder {
	color:#a3a3a3
}
textarea:-moz-placeholder,input:-moz-placeholder {
	color:#a3a3a3
}
textarea::-moz-placeholder,input::-moz-placeholder {
	color:#a3a3a3
}
textarea:-ms-input-placeholder,input:-ms-input-placeholder {
	color:#a3a3a3
}
textarea {
	resize:none;
	overflow-y:scroll
}
ul,ol {
	padding-left:0;
	list-style-type:none
}
a img,fieldset {
	border:0
}
a {
	color:#555;
	text-decoration:none
}
a:hover {
	text-decoration:none
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary {
	display:block
}
audio,canvas,video {
	display:inline-block
}
audio:not([controls]) {
	display:none;
	height:0
}
[hidden] {
	display:none
}
svg:not(:root) {
	overflow:hidden
}
figure {
	margin:0
}
button,input,select,textarea {
	font-family:inherit;
	font-size:100%;
	margin:0;
	*font-family:"Microsoft YaHei","微软雅黑",Helvetica,"黑体",Arial,Tahoma
}
button,select {
	text-transform:none
}
button,html input[type="button"],input[type="reset"],input[type="submit"] {
	cursor:pointer;
	-webkit-appearance:button
}
button[disabled],html input[disabled] {
	cursor:default
}
input[type="checkbox"],input[type="radio"] {
	box-sizing:border-box;
	padding:0
}
input[type="search"] {
	box-sizing:content-box;
	-moz-box-sizing:content-box;
	-webkit-appearance:textfield;
	-webkit-box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {
	-webkit-appearance:none
}
button::-moz-focus-inner,input::-moz-focus-inner {
	border:0;
	padding:0
}
textarea {
	overflow:auto;
	vertical-align:top
}




.clearfix:after {
visibility: hidden;
display: block;
font-size: 0;
content: " ";
clear: both;
height: 1px;
}


.r{float: right;}
.l{float: left;}
.pr{position:relative;}
.pa{position:absolute;}

*{margin:0;padding:0;}
.blur {	
    filter: url(blur.svg#blur); /* FireFox, Chrome, Opera */
    
    -webkit-filter: blur(1.5px); /* Chrome, Opera */
       -moz-filter: blur(1.5px);
        -ms-filter: blur(1.5px);    
            filter: blur(1.5px);
    
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=1.5, MakeShadow=false); /* IE6~IE9 */
}

*::selection {
	background: none;
}